WATCHTOWER_DISCORD_WEBHOOK=
WATCHTOWER_SLACK_WEBHOOK=
WATCHTOWER_TELEGRAM_BOT_TOKEN=
WATCHTOWER_TELEGRAM_CHAT_ID=
WATCHTOWER_SMTP_HOST=
WATCHTOWER_SMTP_PORT=587
WATCHTOWER_SMTP_USER=
WATCHTOWER_SMTP_PASSWORD=
WATCHTOWER_EMAIL_FROM=
WATCHTOWER_EMAIL_TO=
